.addPost{
    text-align: right;
}

h3{
    margin-left: 20px;
    margin-bottom: 0;
    text-align: left;
}

.addPost textarea {
    margin: 10px 20px;
    width: calc(100% - 60px);
    height: 150px;
    resize: none;
    padding: 5px 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid #dbe0e2;
}

.button:hover{
    padding: 8px 29px;
}