.addPost{
    text-align: right;
}

.addPost h3{
    margin-left: 20px;
    margin-bottom: 0;
    text-align: left;
    padding-left: 10px;
}

.addPost textarea {
    margin: 10px 20px;
    width: calc(100% - 60px);
    height: 150px;
    resize: none;
    padding: 10px 15px;
    font-size: 18px;
    outline: none;
    border: 1px solid #dbe0e2;
    border-radius: 10px;
}

.button:hover{
    /*padding: 8px 29px;*/
}

.error{
    color: red;
}