.list{
    list-style: none;
    padding: 0;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.list a{
    display: block;
    color: #4b4f56;
    text-decoration: none;
    padding: 15px 15px;
    height: 30px;
    line-height: 25px;
}

.list a:hover{
    background-color: aliceblue;
}

.list img{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.contactsBar{
    border-right: 1px solid #e4f2f2;
}