.userListItem{
    margin: 0px 20px;
    padding: 15px;
    border-bottom: 1px solid #bed9db;
}

.avatar{
    float: left;
}

.avatar img{
    object-fit: cover;
    width: 90px;
    height: 90px;
    border-radius: 60px;
}

.userInfo{
    display: inline-block;
    padding: 0px 45px;
}

.userInfo a{
    color: black;
    text-decoration: none;
}

.userInfo span{
    line-height: 30px;
}

.buttonArea{
    display: flex;
}

.buttonArea button{
    margin: auto;
}

.name{
    font-weight: bold;
    font-size: 18px;
}

.userPanel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.unSub{
    background-color: white;
    border: 1px solid #a0d0d3;
}

.unSub:hover{
    background-color: #dff9fb;
    border: 1px solid #dff9fb;
}

.buttonArea button:disabled{
    background-color: #efefef;
}