header{
    height: 80px;
    margin-bottom: 30px;
    background-color: white;
}

header img{
    float: left;
}

@media screen and (max-width: 1240px) {
    header{
        margin-bottom: 0;
    }
}