.info{
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 150px 1fr;
    grid-template-areas: "userPhoto userDescription";
}

.photo{
    grid-area: userPhoto;
    margin-left: 20px;
}

.photo img{
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.description{
    grid-area: userDescription;
    padding-left: 25px;
    padding-right: 25px;
}

.description h1{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 10px;
}

.description ul{
    list-style: none;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.description ul li span{
    font-weight: bold;
}

.changeName input{
    font-size: 26px;
    margin-bottom: 10px;
}

.errorWrapper{
    margin-bottom: 10px;
}