.login{
    margin: 15px 10px 25px 20px;
}

.login input{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #90a7ac;
}

.login [aria-invalid='true']{
    background-color: #f3cbcb;
}

.login button{
    margin: 5px 0 0 0;
}

.username{
    margin-bottom: 15px;
}

.loginForm span{
    margin-left: 10px;
    color: red;
}

span.queryError{
    display: inline-block;
    color: red;
    margin-left: 0px;
    margin-bottom: 10px;
}

.hidden{
    display: none;
}